<div>
  <% if @task != nil %>
    <p>
      <% ids = @task.clans_to_me %>
      <%= render 'navigator', ids: ids %>
    </p>
  <% end %>
  <% @tasks.each do |task| %>
    <%= render 'taskpanel', task: task %>
  <% end %>
</div>
