<h1>最小単位タスク</h1>
<%= link_to 'TOP', tasks_path %>
<div>
  <% @tasks.each do |task| %>
    <% if task.level != 1 %>
      <p>
        <% ids = task.clans %>
        <%= render 'navigator', ids: ids %>
      </p>
    <% else %>
      <p><%= " > " %></p>
    <% end %>
    <%= render 'taskpanel', task: task %>
  <% end %>
</div>
