.links{
  text-align: center;
}

p.taskTitle{

}

p.taskContent{

}

tr.taskTitle td{
  margin: 0px 0px 20px 0px;
  padding: 10px;
}

tr.taskContent td{
  margin: 0px 0px 20px 0px;
  padding: 10px;
}

div.taskPanel {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: #d0cfb7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

div.formArea{
  display: inline-block;
}

.titleField{
  width: 100%;
}

div.taskList{

}

p.navigatorDescendant{
  margin: 10px 0px 0px 0px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

p.navigator{
  margin: 10px 0px 20px 0px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

.buttonArea{
  text-align: center;
}
