header {
  width: 100%;
  background-color: #4b4238;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}

.side_menu ul{
  margin: 0;
  padding: 0;
}

.side_menu li{
  background-color: #ceca93;
  height: 6rem;
  margin-bottom: 10px;
  list-style: none;
}

.side_menu li:hover{
  opacity: 0.5;
}

.side_menu li a{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}

.container {
  padding: 0 100px;
}

footer {
  width: 100%;
  background-color:#4b4238;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fcfcf1;
  min-height: 100%;
  padding-bottom: 100px;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div.info-panel {
  margin: 20px 0;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}
